/* On initialise nos variables scss */

:root {
    --ff-text: 'roboto', sans-serif;
    --ff-logotitre: 'Shrikhand', cursive;

    --fw-reg: 300;
    --ff-bold:900;

    --clr-violet: #9356DC;
    --clr-rose: #FF79DA;
    --clr-vertpale: #99E2D0;
    --clr-footer: #2B2B2B;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body:1.125rem;

        --bs: 8.25em 0.25em 0.75em rgba(0,0,0,.25),  
    }
}

/* Style general du site */


html, body {
    scroll-behavior: smooth;
    font-family: var(--ff-text);
    max-width: 762px;
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.intro {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content:center;
  align-items:flex-start;
  margin: 20px;
}

.intro__retour {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex: 1
}

.decoration__back {
  color: var(--clr-footer);
  margin-left: 30px;
}

.intro__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex: 2;
  margin-left: 30px;
}

.img__menu {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}

h2::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}

.menu {
  width: 100%;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-right: auto;
  position: relative;
  margin-top: -70px;
  }
  
.menu__corps {
  margin-left: 15px;
}

  .menu__sous-titre {
  margin: 0;
  }

.menu__head {
  margin: 15px;
  font-family: var(--ff-logotitre);
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}

.bloc__coeur {
  margin-left: auto;
}

.fa-heart {
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  text-transform: none;
  display: inline-block;
}

  .menu__bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  margin: 15px;
  padding: 10px;
  box-shadow: 10px 10px 10px 10px #F2F2F2;
  border-radius: 15px;
  width: 92%;
  height: 60px;
  animation: menu_chargement 300ms;
  }
  
  @keyframes menu_chargement {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

  .menu__bloc:hover {
    cursor: pointer;
    transition: 1000ms;
    transform: scale(1.02);
  }
  
  .menu__bloc:hover ~ .menu__prix {
    position: absolute;
    top: 0;
    right: -700px;
  }

  .menu__description {
    margin: 0;
  }

  .menu__prix {
    margin-top: auto;
    font-weight: bold;
  }

  .commander {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 0 25px 0;
    border-radius: 200px;
    background: linear-gradient(to right bottom, var(--clr-rose), var(--clr-violet));
  }
  
  .btn:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: var(--bs);
  }



.menu__bloc .menu__choix {
    display: none;
    background: var(--clr-vertpale);
    border-radius: 15px;
    padding: 0 20px;
    height: 80px;
    width: 40px;
    position: relative;
    right: -10px;
}

.menu__bloc .menu__choix i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: validation_ratation 0.75s both;
}

.menu__bloc:hover .menu__choix {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: push_validation 0.75s ease;
  transform-origin: right;
}

@keyframes validation_ratation {
  0% {
            transform: rotate(0);
            opacity: 0;
  }
  100% {
            transform: rotate(360deg);
            opacity: 1;
  }
}

@keyframes push_validation {
  0% {
            transform: scaleX(0);
  }
  100% {
            transform: scaleX(-50px);
  }
}

.menu__delai-0 {
  animation-delay: 0s;
}

.menu__delai-1 {
  animation-delay: 0.1s;
}

.menu__delai-2 {
  animation-delay: 0.2s;
}

.menu__delai-3 {
  animation-delay: 0.3s;
}

.menu__delai-4 {
  animation-delay: 0.4s;
}

.menu__delai-5 {
  animation-delay: 0.5s;
}

.menu__delai-6 {
  animation-delay: 0.6s;
}

.menu__delai-7 {
  animation-delay: 0.7s;
}

.menu__delai-8 {
  animation-delay: 0.8s;
}

.menu__delai-8 {
  animation-delay: 0.9s;
}

.menu__delai-9 {
  animation-delay: 1s;
}

.card__footer {
  display: flex;
  position: relative;
}

.footer {
  width: 100%;
  background-color: var(--clr-footer);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 300px;
}

.footer__div {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

.footer__div .logo {
  margin-top: 20px;
  margin-top: 15px;
}

.ohmyfood__logo {
  font-family: var(--ff-logotitre);
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.footer__div-links {
  flex-direction: column;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__div-links i {
  margin-right: 7px;
}

.footer__div-links-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}