@charset "UTF-8";

/* On initialise nos variables scss */
:root {
  --ff-text: "roboto", sans-serif;
  --ff-logotitre: "Shrikhand", cursive;
  --fw-reg: 300;
  --ff-bold:900;
  --clr-violet: #9356DC;
  --clr-rose: #FF79DA;
  --clr-vertpale: #99E2D0;
  --clr-footer: #2B2B2B;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* LOADER DU SITE  */

.loader{
  width: 100%;
  height: 100%;
  background-color: var(--clr-rose);
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 30px;
  letter-spacing: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  overflow: hidden;
  z-index: 100;
  animation: go_out 5000ms;
}

@keyframes go_out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0.5;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
}

.loader___animation {
  margin: 100px 50px 100px 0;
  border: 10px solid #bdc3c7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: rond 2s linear infinite;
}

@keyframes rond {
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: var(--clr-vertpale);
    border-bottom-color: var(--clr-vertpale);
    visibility: visible;
  }
  25%{
    border-top-color: var(--clr-violet);
    border-bottom-color: var(--clr-violet);
  }
  50% {
     transform: rotate(360deg) scale(1.15);
     border-top-color: var(--clr-vertpale);
     border-bottom-color: var(--clr-vertpale);
  }
  75%{
    border-top-color: var(--clr-violet);
    border-bottom-color: var(--clr-violet);
  }
  100%{
     transform: rotate(720deg) scale(1);
     border-top-color: var(--clr-vertpale);
     border-bottom-color: var(--clr-vertpale);
     visibility: hidden;
  }
}

.loader__lettre {
  color: #484848;
  animation: lettres_animation 1.2s linear infinite;
}

@keyframes lettres_animation {
  0% {
      color: var(--clr-vertpale);
      text-shadow: 0 0 7px var(--clr-vertpale);
  }
  90% {
      color: var(--clr-violet);
      text-shadow: none;
  }
  100% {
    color: var(--clr-vertpale);
    text-shadow: 0 0 7px var(--clr-vertpale);
  }
}

.loader__lettre:nth-child(1){
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2){
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3){
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4){
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5){
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6){
  animation-delay: 0.6s;
}
.loader__lettre:nth-child(7){
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8){
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9){
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10){
  animation-delay: 1s;
}


/* Style general du site */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-text);
}

main {
  padding: 8px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin-bottom: 1px;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  width: 100%;
  padding: 20px;
}

.btn {
  border: none;
  color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius: 200px;
  background: linear-gradient(to right bottom, var(--clr-rose), var(--clr-violet));
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.emplacement {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.emplacement__contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emplacement__contenu-localisation {
  margin: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  width: 100%;
  height: 200px;
  z-index: 10;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 5px 25px 5px 25px;
}

.fonctionnement__1, .fonctionnement__2, .fonctionnement__3 {
  background-color: #f2f2f2;
  padding: 1%;
  margin: 5%;
  height: 15%;
  width: 90%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fonctionnement__pres {
  display: flex;
  flex-direction: row;
}

.fonctionnement__pres-numerotation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 20px 20px -20px;
  border-radius: 25px;
  width: 32px;
  height: 32px;
  color: white;
  background-color: var(--clr-violet);
}

.fonctionnement__pres-icone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.color__icone {
  color: var(--clr-violet);
}

.fonctionnement__pres-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.purple__effect {
  background-color: #f5edff;
}

.fonctionnement__1:hover, .fonctionnement__2:hover, .fonctionnement__3:hover {
  cursor: pointer;
  transition: 1000ms;
  transform: scale(1.02);
  background-color: #f5edff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 13px 23px;
}

.Restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Restaurants__bloc {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
}

.decoration_link {
  color: black;
  text-decoration: none;
}

.Restaurants__bloc-titre {
  margin-right: auto;
  margin-left: 15px;
}

.Restaurants__bloc-carré {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 5px 25px 30px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: 360px;
  width: 100%;
  position: relative;
}

.Restaurants__bloc-carré:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 13px 23px;
}

.Restaurants__bloc-orgination {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.Restaurants__bloc-image {
  width: 100%;
  max-width: 500px;
  min-width: 340px;
  height: 80%;
  max-height: 250px;
  background-size: 100% 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  margin: 0%;
  padding: 0%;
}

.Restaurants__bloc-description {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.Restaurants__bloc-description h2{
  margin: 15px 0 5px 10px;
}

.Restaurants__bloc-description p{
  margin: 0 0 5px 10px;
}

/* STYLE CARTE NOUVEAU */

.carte__new {
  background-color: #99e2d0;
  color: #1b6150;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 25px;
  margin-left: 58%;
  padding: 12px;
}

/* POSITION DU COEUR  */

.bloc__coeur {
  position: relative;
  bottom: 50px;
  left: 130px;
}

/* STYLE DU COEUR ET ANIMATION  */

.fa-heart {
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-transform: none;
    display: inline-block;
}

.smiley__coeur--vide {
  position:absolute;

}

.smiley__coeur--vide:hover {
    cursor: pointer;
    position: relative;
    background-clip: text;
    background-color: linear-gradient(to right bottom, var(--clr-rose), var(--clr-violet));
    animation: remplissage 0.4s ease-in-out;
  }

@keyframes remplissage {
  from {
    background-color: white;
  }
  to {
    background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  }
}

.smiley__coeur--plein{
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    background-clip: text;
    background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
}

.smiley__coeur--plein:hover{
  cursor: pointer;
  animation: opacite 0.2s ease-in-out;
  z-index: 100;
}

@keyframes opacite {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.card__footer {
  display: flex;
  position: relative;
}


/* FOOTER DU SITE  */

.footer {
  width: 100%;
  background-color: var(--clr-footer);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 300px;
}

.footer__div {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
}

.footer__div .logo__footer {
  margin-top: 20px;
  margin-top: 15px;
}

.ohmyfood__logo {
  font-family: var(--ff-logotitre);
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.footer__div-links {
  flex-direction: column;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__div-links i {
  margin-right: 7px;
}

.footer__div-links-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}


@media screen and (min-width: 883px) {
  .Restaurants__bloc-orgination {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tablette_menu {
    flex-direction: column;
    margin-right: 45px;
  }
  .Restaurants__bloc-titre {
    font-size: 30px;
  }
  .footer, .footer__div {
    flex-direction: row;
    width: 100%;
    gap: 10%;
  }
  .col1_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col2_footer {
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
  }
}

@media screen and (min-width: 1480px) {
  .fonctionnement {
    flex-direction: row;
  }
  .Restaurants__bloc {
    flex-direction: row;
  }
  .Restaurants__bloc-titre {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-violet);
  }
  .fonctionnement__1, .fonctionnement__2, .fonctionnement__3 {
    width: 400px;
  }
}

@media screen and (min-width: 1980px) {
  .tablette_menu {
    flex-direction: row;
  }
  .Restaurants__bloc-orgination {
    margin-top: 30px;
  }
  .Restaurants__bloc-carré {
    width: 600px;
  }
  .Restaurants__bloc-image {
    min-width: 600px;
    max-width: 600px;
  }
}
