@charset "UTF-8";

/* On initialise nos variables scss */
:root {
  --ff-text: "roboto", sans-serif;
  --ff-logotitre: "Shrikhand", cursive;
  --fw-reg: 300;
  --ff-bold:900;
  --clr-violet: #9356DC;
  --clr-rose: #FF79DA;
  --clr-vertpale: #99E2D0;
  --clr-footer: #2B2B2B;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body:1.125rem;
    --bs: 8.25em 0.25em 0.75em rgba(0,0,0,.25), ;
  }
}

/* LOADER DU SITE  */

.loader{
  width: 100%;
  height: 100%;
  background-color: var(--clr-rose);
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 60px;
  letter-spacing: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  overflow: hidden;
}

.logo__loader {
  width: 80px;
  height: 40px;
}

.loader___animation {
  margin: 100px 50px 100px 0;
  border: 10px solid #bdc3c7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: rond 2s linear infinite;
}

@keyframes rond {
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: var(--clr-vertpale);
    border-bottom-color: var(--clr-vertpale);
    opacity: 1;
  }
  25%{
    border-top-color: var(--clr-violet);
    border-bottom-color: var(--clr-violet);
  }
  50% {
     transform: rotate(360deg) scale(1.15);
     border-top-color: var(--clr-vertpale);
     border-bottom-color: var(--clr-vertpale);
  }
  75%{
    border-top-color: var(--clr-violet);
    border-bottom-color: var(--clr-violet);
  }
  100%{
     transform: rotate(720deg) scale(1);
     border-top-color: var(--clr-vertpale);
     border-bottom-color: var(--clr-vertpale);
     opacity: 0.1;
  }
}

.loader__lettre {
  color: #484848;
  animation: lettres_animation 1.2s linear infinite;
}

@keyframes lettres_animation {
  0% {
      color: var(--clr-vertpale);
      text-shadow: 0 0 7px var(--clr-vertpale);
  }
  90% {
      color: var(--clr-violet);
      text-shadow: none;
  }
  100% {
    color: var(--clr-vertpale);
    text-shadow: 0 0 7px var(--clr-vertpale);
  }
}

loader__animation::after ~ .loader {
  display: none;
}

.loader__lettre:nth-child(1){
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2){
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3){
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4){
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5){
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6){
  animation-delay: 0.6s;
}
.loader__lettre:nth-child(7){
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8){
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9){
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10){
  animation-delay: 1s;
}


/* Style general du site */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-text);
}

main {
  margin: auto;
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.btn {
  border: none;
  color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 200px;
  background: linear-gradient(var(--clr-rose), var(--clr-violet));
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--bs);
}

.emplacement {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: var(--bs);
}

.emplacement__contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emplacement__contenu-localisation {
  margin: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 200px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 5px 25px 5px 25px;
}

.fonctionnement__1, .fonctionnement__2, .fonctionnement__3 {
  background-color: #f2f2f2;
  padding: 1%;
  margin: 5%;
  height: 25%;
  width: 90%;
  box-shadow: 10px 10px 10px 10px #f2f2f2;
  border-radius: 10px;
}

.fonctionnement__pres {
  display: flex;
  flex-direction: row;
}

.fonctionnement__pres-numerotation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-left: -40px;
  border-radius: 25px;
  width: 42px;
  height: 42px;
  color: white;
  background-color: var(--clr-violet);
}

.fonctionnement__pres-icone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.color__icone {
  color: var(--clr-violet);
}

.fonctionnement__pres-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Restaurants__bloc {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  margin-right: auto;
}

.decoration_link {
  color: black;
  text-decoration: none;
}

.Restaurants__bloc-titre {
  margin-right: auto;
  margin-left: 15px;
}

.Restaurants__bloc-carré {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 5px 25px 30px 25px;
  box-shadow: 10px 10px 10px 10px #F2F2F2;
  border-radius: 10px;
  height: 360px;
  position: relative;
}

.Restaurants__bloc-orgination {
  width: 100%;
}


.Restaurants__bloc-image {
  width: 100%;
  max-width: 600px;
  height: 80%;
  max-height: 250px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin: 0%;
  padding: 0%;
}

.Restaurants__bloc-description {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.Restaurants__bloc-description h2{
  margin: 15px 0 5px 10px;
}

.Restaurants__bloc-description p{
  margin: 0 0 5px 10px;
}

.carte__new {
  background-color: #99e2d0;
  color: #1b6150;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
  padding: 12px;
}

.bloc__coeur {
  position: relative;
  bottom: 50px;
  left: 230px;
}

.smiley__coeur--plein {
  display: none;
}

.bloc__coeur:before {
  opacity: 0;
  transition: .5s;
  content: "";
  background: linear-gradient(0deg,#9356dc,#ff79da);
}

.card__footer {
  display: flex;
  position: relative;
}

.footer {
  width: 100%;
  background-color: var(--clr-footer);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 300px;
}

.footer__div {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

.footer__div .logo {
  margin-top: 20px;
  margin-top: 15px;
}

.ohmyfood__logo {
  font-family: var(--ff-logotitre);
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.footer__div-links {
  flex-direction: column;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__div-links i {
  margin-right: 7px;
}

.footer__div-links-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

