/* On initialise nos variables scss */

:root {
    --ff-text: 'roboto', sans-serif;
    --ff-logotitre: 'Shrikhand', cursive;

    --fw-reg: 300;
    --ff-bold:900;

    --clr-violet: #9356DC;
    --clr-rose: #FF79DA;
    --clr-vertpale: #99E2D0;
    --clr-footer: #2B2B2B;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}


/* Style general du site */


html, body {
    scroll-behavior: smooth;
    font-family: var(--ff-text);
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 20px
}

.intro__retour {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.decoration__back {
  color: var(--clr-footer);
  margin-left: 30px;
}

.intro__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.img__menu {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}

h2::after {
  content: '';
  width: 50px;
  height: 4px;
  background: var(--clr-vertpale);
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}

.menu {
  width: 100%;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-right: auto;
  position: relative;
  margin-top: -70px;
  }
  
.menu__corps {
  margin-left: 15px;
}

  .menu__sous-titre {
  margin: 0;
  }

.menu__head {
  margin: 15px;
  font-family: var(--ff-logotitre);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}



/* STYLE DU COEUR ET ANIMATION  */

.bloc__coeur {
    position: relative;
    right: 7%;
    display: inline-block;
}
.taille__coeur {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}


.smiley__coeur--vide {
position: absolute;
}

.smiley__coeur--vide:hover {
  color: transparent;
  opacity: 0;
  background-clip: text;
}


.smiley__coeur--plein {
position:absolute;
background-image: linear-gradient(to right, var(--clr-rose), var(--clr-violet));
-webkit-text-fill-color: linear-gradient(to right, var(--clr-rose), var(--clr-violet));
background-clip: text;
-webkit-background-clip: text; 
color: transparent;
opacity: 0;
transition: all 300ms ease-in-out;

}

.smiley__coeur--plein:hover{
opacity: 1;
transform: scale(1.15);
}

  .menu__bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  margin: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  width: 92%;
  height: 60px;
  animation: menu_chargement 300ms;
  }
  
  @keyframes menu_chargement {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  
  .menu__bloc:hover ~ .menu__prix {
    position: absolute;
    top: 0;
    right: -700px;
  }

  .part__gauche {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .part__gauche p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .part__gauche h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu__description {
    margin: 0;
  }

  .menu__prix {
    margin-top: 35px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .part__droite {
    display: flex;
    justify-content: flex-end;
  }

  .commander {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
  }

  .btn {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 0 25px 0;
    border-radius: 200px;
    background: linear-gradient(to right bottom, var(--clr-rose), var(--clr-violet));
  }
  
  .btn:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.menu__bloc .menu__choix {
    display: none;
    background: var(--clr-vertpale);
    border-radius: 15px;
    padding: 0 20px;
    height: 80px;
    width: 40px;
    position: relative;
    right: -10px;
}

.menu__bloc .menu__choix i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: validation_ratation 0.75s both;
}

.menu__bloc:hover .menu__choix {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: push_validation 0.75s ease;
  transform-origin: right;
}

@keyframes validation_ratation {
  0% {
            transform: rotate(0);
            opacity: 0;
  }
  100% {
            transform: rotate(360deg);
            opacity: 1;
  }
}

@keyframes push_validation {
  0% {
            transform: scaleX(0);
  }
  100% {
            transform: scaleX(1);
  }
}

.menu__delai-0 {
  animation-delay: 0s;
}

.menu__delai-1 {
  animation-delay: 0.1s;
}

.menu__delai-2 {
  animation-delay: 0.2s;
}

.menu__delai-3 {
  animation-delay: 0.3s;
}

.menu__delai-4 {
  animation-delay: 0.4s;
}

.menu__delai-5 {
  animation-delay: 0.5s;
}

.menu__delai-6 {
  animation-delay: 0.6s;
}

.menu__delai-7 {
  animation-delay: 0.7s;
}

.menu__delai-8 {
  animation-delay: 0.8s;
}

.menu__delai-8 {
  animation-delay: 0.9s;
}

.menu__delai-9 {
  animation-delay: 1s;
}

.card__footer {
  display: flex;
  position: relative;
}

.menu__bloc:hover .menu__prix {
  margin-top: 45px;
}

/* FOOTER DU SITE  */

.footer {
  width: 100%;
  background-color: var(--clr-footer);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 300px;
}

.footer h3 {
  font-weight: lighter;
}

.footer__div {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
}

.footer__div .logo__footer {
  margin-top: 20px;
  margin-top: 15px;
}

.ohmyfood__logo {
  font-family: var(--ff-logotitre);
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.footer__div-links {
  flex-direction: column;
  color: white;
  height: 30px;
  cursor: pointer;
}

.footer__div-links i {
  margin-right: 7px;
}

.footer__div-links-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 883px) {
.footer, .footer__div {
  flex-direction: row;
  width: 100%;
  gap: 10%;
}
.col1_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col2_footer {
  width: 100%;
  display: flex;
  margin-top: 2%;
  justify-content: center;
}
}

@media screen and (min-width: 1200px) {
  .img__menu {
    height: 550px;
  }
  .menu__bloc {
    width: 80%;
  }
  .menu__corps {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .menu__desktop {
    display: flex;
    flex-direction: row;
  }
  .intro__retour {
    width: 45%;
  }

  .btn {
    width: 450px;
    height: 80px;
    font-size: 30px;
    font-weight: 600;
  }

}